.social {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin-top: 16px;
}

.social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    transition: background-color 250ms $timingFunction;

    &:hover,
    &:focus {
        background-color: $accentColor;
    }
}
