.pictures__title,
.workers__title,
.clients__title {
    @include font(36px, 1.16, 700, 0.03em);
    color: $firstTitleColor;

    margin-bottom: 50px;
    text-align: center;
}

.benefits__list,
.pictures__list,
.workers__list {
    display: flex;
    gap: $cardSetGap;
}

.navigation__link:hover,
.navigation__anchor:hover,
.contacts__tel:hover,
.contacts__email:hover,
.footer__address:hover,
.button-item:hover,
.footer__email:hover,
.footer__tel:hover,
.contacts--email-icon:hover,
.contacts--tel-icon:hover {
    color: $accentColor;
}

.navigation__link:focus,
.navigation__anchor:focus,
.contacts__tel:focus,
.contacts__email:focus,
.footer__address:focus,
.footer__email:focus,
.footer__tel:focus,
.contacts--email-icon:focus,
.contacts--tel-icon:focus {
    color: $accentColor;
}